body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
  padding: 20px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.heading {
  background: white;
  padding: 16px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task {
  background-color: red;
  cursor: pointer;
}

.allTasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
